<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="csrf-token" content="{:token()}">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <link rel="stylesheet" href="/static/lib/layui/css/layui.css" media="all">
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>

        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .file {
                position: relative;
                display: inline-block;
                background: #D0EEFF;
                border: 1px solid #99D3F5;
                border-radius: 4px;
                padding: 4px 12px;
                overflow: hidden;
                color: #1E88C7;
                text-decoration: none;
                text-indent: 0;
                line-height: 20px;
            }
            .file input {
                position: absolute;
                font-size: 100px;
                right: 0;
                top: 0;
                opacity: 0;
            }
            .file:hover {
                background: #AADFFD;
                border-color: #78C3F3;
                color: #004974;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" id="form">
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>日期
                        </label>
                        <div class="layui-input-inline layui-show-xs-block">
                            <input class="layui-input" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>选择股票数据所属日期
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>文件
                        </label>
                        <div class="layui-upload-drag" id="test10">
                            <i class="layui-icon"></i>
                            <p>点击上传，或将文件拖拽到此处</p>
                            <div class="layui-hide" id="uploadDemoView">
                                <hr>
                                <img src="" alt="上传成功后渲染" style="max-width: 196px">
                            </div>
                        </div>
                        <div class="layui-word-aux" style="margin-left: 20%">
                            <span class="x-red">*</span>选择文件自动上传！文件限制：xls|xlsx  <20M
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            layui.use(['form','laydate'],
                function() {
                    var laydate = layui.laydate;
                    laydate.render({elem: '#start' });
                }
            );

            layui.use('upload', function(){
                var $ = layui.jquery;
                upload = layui.upload;
                //拖拽上传
                upload.render({
                    elem: '#test10',
                    accept:'file',
                    exts:'xls|xlsx',
                    size:'1024',
                    data: {
                        product_type: function(){
                            return $("select[name='product_type'] option:selected").val();
                        },
                        product_type_id: function(){
                            return $("select[name='product_type'] option:selected").text();
                        }
                    },
                    before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                        layer.load(1, {
                            shade: [0.1,'#fff'] //0.1透明度的白色背景
                        });
                    },
                    url: '{:url("FiberCompany/fiber_company_import_do")}', //改成您自己的上传接口
                    done: function(res){
                        if(res.code=='200'){
                            layer.closeAll('loading'); //关闭loading
                            layer.msg(res.message);
                            layui.$('#uploadDemoView').removeClass('layui-hide').find('img').attr('src', res.files.file);
                        }else{
                            layer.closeAll('loading'); //关闭loading
                            layer.msg(res.message);
                        }
                    }
                });
            })




            // /*提交*/
            // $(".layui-btn").click(function () {
            //     var formData    =   new FormData();
            //     var file        =   $("#file")[0].files[0];
            //     var create_time =   $("#start").val().trim();
            //     formData.append("file",file);
            //     formData.append("create_time",create_time);
            //     $.ajax({
            //         type:"POST",
            //         url:"{:url('SharesData/shares_import_do')}",
            //         processData: false,
            //         contentType: false,
            //         data:formData,
            //         headers: {
            //             'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            //         },
            //         dataType:"json",
            //         success:function(result){
            //             if(result.code == 200){
            //                 layer.msg(result.message);
            //                 setTimeout(function () {
            //                     window.location.href = "{:url('Index/index')}"
            //                 },1000)
            //             }else{
            //                 layer.msg(res.message);
            //             }
            //         }
            //     });
            // })







        </script>
    </body>

</html>