<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" method="post">

                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>待分配客户</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" placeholder="开始日" name="custom_id" id="{$custom_info.id}" value="{$custom_info.custom_name}">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>选择管理员
                        </label>
                        <div class="layui-input-block" style="width: 190px">
                            <select name="admin_id" lay-verify="required" >
                                {foreach $admin_list as $key=>$item}
                                    <option value="{$item.id}">{$item.admin_name}/{$item.admin_station}</option>
                                {/foreach}
                            </select>
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <a title=分配 onclick="reurl()">
                                没有可分配的管理员？前往设置客户管理模块的管理员！
                            </a>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            layui.use(['laydate','form', 'layer'], function() {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;
                //监听提交
                form.on('submit(add)',function(data){
                    var custom_id   =   $("input[name=custom_id]").attr('id');
                    var admin_id    =   $("select[name=admin_id] option:selected").val();
                    //console.log(admin_id);return;
                    $.ajax({
                        type:"POST",
                        url:"{:url('Custom/custom_distribution')}",
                        data: {
                            id:custom_id,
                            admin_id:admin_id
                        },
                        dataType:"json",
                        success:function(result){
                            if(result.code == 200){
                                layer.msg(result.message);
                                setTimeout(function () {
                                    xadmin.close();
                                    xadmin.father_reload();
                                },1000)
                            }else{
                                layer.msg(result.message);
                            }
                        }
                    });
                })
            });

            //跳转
            function reurl() {
                window.parent.location.href="{:url('SystemAdmin/system_admin_list')}"
            }
        </script>
    </body>

</html>