<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>项目类型
                        </label>
                        <div class="layui-input-block" style="width: 190px">
                            <select name="project_type" lay-verify="required" >
                                <option value="1">销售</option>
                                <option value="2">采购</option>
                                <option value="3">自有</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>对方单位</label>
                        <div class="layui-input-inline">
                            <input type="text" name="company_name" required="" lay-verify="nikename" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>项目名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="project_name" required="" lay-verify="nikename" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>开始日期</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" placeholder="开始日" name="start_time" id="start">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>结束日期</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" placeholder="截止日" name="end_time" id="end">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>项目金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="project_money" required="" lay-verify="nikename" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>收款方式</label>
                        <div class="layui-input-inline">
                            <input type="text" name="pay_action" required="" lay-verify="nikename" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label for="L_username" class="layui-form-label">
                            <span class="x-red">*</span>项目说明</label>
                        <div class="layui-input-inline">
                            <textarea name="remark" class="layui-textarea">

                            </textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            layui.use(['laydate','form', 'layer'], function() {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;
                var laydate = layui.laydate;
                //执行一个laydate实例
                laydate.render({
                    elem: '#start' //指定元素
                });

                //执行一个laydate实例
                laydate.render({
                    elem: '#end' //指定元素
                });
                //监听提交
                form.on('submit(add)',function(data){
                   // layer.msg(JSON.stringify(data.field));return;
                    $.ajax({
                        type:"POST",
                        url:"{:url('Project/project_add')}",
                        data: data.field,
                        dataType:"json",
                        success:function(result){
                            if(result.code == 200){
                                layer.msg(result.message);
                                setTimeout(function () {
                                    xadmin.close();
                                    xadmin.father_reload();
                                },1000)
                            }else{
                                layer.msg(result.message);
                            }
                        }
                    });
                })
            });
        </script>
    </body>

</html>