<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" style="width: 500px">
                    <div class="layui-form-item">
                        <label class="layui-form-label">项目名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="title"  class="layui-input" value="{$project_arr.project_name}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">项目类型</label>
                        <div class="layui-input-block">
                            <input type="text" name="title"  class="layui-input" value="{$project_arr.project_type}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">开始日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input" value="{$project_arr.start_time}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">结束日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input" value="{$project_arr.end_time}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">对方单位</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input" value="{$project_arr.company_name}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">项目金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input" value="{$project_arr.project_money}">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">已收金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">应收金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">收入总额</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">支出总额</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">利润总额</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" required  class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">收款日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">更新日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">付款方式</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" class="layui-input">
                        </div>
                    </div>


                    <div class="layui-form-item">
                        <label class="layui-form-label">项目说明</label>
                        <div class="layui-input-block">
                            <textarea name="desc" class="layui-textarea">
                                {$project_arr.remark}
                            </textarea>
                        </div>
                    </div>
                </form>


                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>交易日期</th>
                            <th>交易账户</th>
                            <th>收支项目</th>
                            <th>摘要</th>
                            <th>收入</th>
                            <th>支出</th>
                        </tr>
                        </thead>
                        <tbody>
                            {if $project_arr.project_water}
                                {foreach $$project_arr.project_water as $key=>$item}
                                    <tr>
                                        <td>{$item.create_time}</td>
                                        <td>{$item.bank_name}</td>
                                        <td>{$item.water_info}</td>
                                        <td>{$item.water_income}</td>
                                        <td>{$item.water_pay}</td>
                                    </tr>
                                {/foreach}
                            {/if}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script>
            layui.use(['form', 'layer'], function() {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

            });
        </script>
    </body>

</html>