<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">演示</a>
                <a><cite>导航元素</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5" method="post">
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" placeholder="分类名" name="cate_name"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon"></i>增加</button>
                                </div>
                            </form>
                            <hr>
                            <blockquote class="layui-elem-quote">每个tr 上有两个属性 cate-id='1' 当前分类id fid='0' 父级id ,顶级分类为 0，有子分类的前面加收缩图标<i class="layui-icon x-show" status='true'>&#xe623;</i></blockquote>
                        </div>

                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                                <thead>
                                <tr>
                                    <th width="70">ID</th>
                                    <th>分类</th>
                                    <th width="150">排序（修改后点击空白处）</th>
<!--                                    <th width="80">状态</th>-->
                                    <th width="250">操作</th>
                                </thead>
                                <tbody class="x-cate">
                                    {foreach $cate_arr as $key=>$item}
                                        <tr cate-id='{$item.id}' fid='{$item.parents_id}' >
                                            <td>{$item.id}</td>
                                            <td>
                                                {if $item.parents_id!=0}
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <i class="layui-icon x-show" status='true'>&#xe623;</i>{$item.cate_name}
                                                {else}
                                                    <i class="layui-icon x-show" status='true'>&#xe623;</i>{$item.cate_name}
                                                {/if}
                                            </td>
                                            <td><input type="text" class="layui-input x-sort" name="order" value="{$item.order}"></td>
<!--                                            <td>-->
<!--                                                <input type="checkbox" name="switch"  lay-text="开启|停用" {if $item.status="=1"} checked {else} {/if} lay-skin="switch">-->
<!--                                            </td>-->
                                            <td class="td-manage">
                                                <button class="layui-btn layui-btn layui-btn-xs"  onclick="subject_type_edit('{$item.id}')" ><i class="layui-icon">&#xe642;</i>编辑</button>
                                                <button class="layui-btn layui-btn-warm layui-btn-xs"  onclick="subject_type_add_son_type('{$item.id}')" ><i class="layui-icon">&#xe642;</i>添加子分类</button>
                                                <button class="layui-btn-danger layui-btn layui-btn-xs"  onclick="subject_type_delete('{$item.id}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                                            </td>
                                        </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
             layui.use(['form'], function(){
                form = layui.form;
            
            });

            /*用户-删除*/
            function member_del(obj,id){
                layer.confirm('确认要删除吗？',function(index){
                    //发异步删除数据
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!',{icon:1,time:1000});
                });
            }

            // 分类展开收起的分类的逻辑
            //
            $(function(){
                $("tbody.x-cate tr[fid!='0']").hide();
                // 栏目多级显示效果
                $('.x-show').click(function () {
                    if($(this).attr('status')=='true'){
                        $(this).html('&#xe625;');
                        $(this).attr('status','false');
                        cateId = $(this).parents('tr').attr('cate-id');
                        $("tbody tr[fid="+cateId+"]").show();
                    }else{
                        cateIds = [];
                        $(this).html('&#xe623;');
                        $(this).attr('status','true');
                        cateId = $(this).parents('tr').attr('cate-id');
                        getCateId(cateId);
                        for (var i in cateIds) {
                            $("tbody tr[cate-id="+cateIds[i]+"]").hide().find('.x-show').html('&#xe623;').attr('status','true');
                        }
                   }
                })
            })

            var cateIds = [];
                function getCateId(cateId) {
                $("tbody tr[fid="+cateId+"]").each(function(index, el) {
                    id = $(el).attr('cate-id');
                    cateIds.push(id);
                    getCateId(id);
                });
            }

            //科目类别编辑
            function subject_type_edit(cate_id){
                layer.prompt({title: '请编辑科目类别名称', formType: 2}, function(text, index){
                    layer.close(index);
                    $.ajax({
                        type:"POST",
                        url:"{:url('Quoted/quoted_cate_edit')}",
                        data:{
                            cate_id:cate_id,
                            cate_name:text
                        },
                        dataType:"json",
                        success:function(result){
                            if(result.code == 200){
                                layer.msg(result.message);
                                setTimeout(function (){
                                    window.location.reload();
                                },1000)
                            }else{
                                layer.msg(res.message);
                            }
                        }
                    });
                });
            }

             //科目类别添加子类
             function subject_type_add_son_type(cate_id){
                 layer.prompt({title: '请编辑科目类别名称', formType: 2}, function(text, index){
                     layer.close(index);
                     $.ajax({
                         type:"POST",
                         url:"{:url('Quoted/quoted_cate_add')}",
                         data:{
                             cate_id:cate_id,
                             cate_name:text
                         },
                         dataType:"json",
                         success:function(result){
                             if(result.code == 200){
                                 layer.msg(result.message);
                                 setTimeout(function (){
                                     window.location.reload();
                                 },1000)
                             }else{
                                 layer.msg(res.message);
                             }
                         }
                     });
                 });
             }

             //科目类别删除
             function subject_type_delete(cate_id){
                 $.ajax({
                     type:"POST",
                     url:"{:url('Quoted/quoted_cate_delete')}",
                     data:{
                         cate_id:cate_id,
                     },
                     dataType:"json",
                     success:function(result){
                         if(result.code == 200){
                             layer.msg(result.message);
                             setTimeout(function (){
                                 window.location.reload();
                             },1000)
                         }else{
                             layer.msg(res.message);
                         }
                     }
                 });
             }
        </script>
    </body>
</html>
